<!DOCTYPE html>
<html lang="en">
<head>
<th:block th:insert="~{fragments/fragments :: jquery}" />
<th:block th:insert="~{fragments/fragments :: datatables}" />
<th:block th:insert="~{fragments/fragments :: head}" />
<link href="/css/upload.css" rel="stylesheet" />
</head>
<layer id="layer1" style="z-index:1">
<body class="sb-nav-fixed">
	<nav th:insert="~{fragments/fragments :: headerBar}">&nbsp;</nav>
	<div id="layoutSidenav">
		<div th:insert="~{fragments/fragments :: sideBar}">&nbsp;</div>
		<div id="layoutSidenav_content">
			<main>
				<div class="container-fluid px-4">
					<h1 class="mt-4">Upload</h1>
					<ol class="breadcrumb mb-4">
						<li class="breadcrumb-item active"></li>
					</ol>
					<div class="card mb-4">
						<div class="card-header">
							<i class="fas fa-table me-1"></i> Upload Files to Bouncer
						</div>
						<div class="card-body">
							<div class="row d-flex">
								<form id="file-form" style="justify-content: center">
									<div class="area">
										<input type="file" multiple id="upload" />
									</div>
								</form>
									<div style="margin-top:2em">
										<table id="uploadsTable" class="display" style="width: 100%"></table>
									</div>
							</div>
						</div>
					</div>
				</div>
			</main>
			<div th:insert="~{fragments/fragments :: footer}">&nbsp;</div>
		</div>
	</div>
	<script src="/js/HbdApi.js"></script>
	<script src="/js/workers/uploadWorker.js"></script>
	<script src="/js/upload.js"></script>
</body>
</layer>
</html>
